# Note we depend on NODE_ENV being set to dictate which of the env variables below get loaded at runtime.
# See README for more details.

# This is environment
NODE_ENV=development

# Application Port - express server listens on this port (default 3000).
PORT=3123

# This is running postgres
POSTGRES_URI=postgres://<PG_USERNAME>:<PG_PASSWORD>@<PG_CONNECTION_URL>

# This is standard running postgres locally
POSTGRES_URI_LOCAL=postgres://postgres:1232123abCD@localhost:5432/sketter

JWT_SECRET=LS0tLS1CRUdJTiBSU0EgUFJJVkFURSBLRVktLS0tLQpNSUlCT2dJQkFBSkJBTlFLQStSV2ZQZFdHR25iYS9WRVo1TUs5cG1nMUlQay9paEE5dXF2Ny8rNVlzRjNUVURoCnFHZXN1bGJhdFFGdkNPaHVmSlNJQmFWT3RjbVZrTWZoWmRrQ0F3RUFBUUpBYkVlTkF6NnpaQzhBR3BhbGc4TmgKelBJdFNmaWFiWnd6dWVTcTh0L1RoRmQrUGhqN2IxTmphdjBMTjNGamhycjlzV3B2UjBBNW13OFpoSUFUNzZMUgpzUUloQU95Zmdhdy9BSTVoeGs3NmtWaVRRV0JNdjdBeERwdi9oSG1aUFdxclpyL1ZBaUVBNVdjalpmK0NaYlhTCnlpV3dUbEVENGVZQ3BSNk16Qk8wbFVhbExKdVRFL1VDSUhWTWZSUE9CNUNObDZqL1BaNFRJWTJEZm1MeGJyU1cKYmkxNWNhQzNaekFoQWlBNmUrVG1hQkdTWkp4c3ROY1I0RTJoRmNhdTJlOERTRExOcThrSWFsRkEwUUloQUlwUApUODFlWlNzYmVrNTlidGJPZ3J3bTJBdzJqUVk4TitJa3FMSTNySWFFCi0tLS0tRU5EIFJTQSBQUklWQVRFIEtFWS0tLS0t
JWT_PUBLIC=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUZ3d0RRWUpLb1pJaHZjTkFRRUJCUUFEU3dBd1NBSkJBTlFLQStSV2ZQZFdHR25iYS9WRVo1TUs5cG1nMUlQawovaWhBOXVxdjcvKzVZc0YzVFVEaHFHZXN1bGJhdFFGdkNPaHVmSlNJQmFWT3RjbVZrTWZoWmRrQ0F3RUFBUT09Ci0tLS0tRU5EIFBVQkxJQyBLRVktLS0tLQ==
JWT_EXPIRES_IN=90d
JWT_COOKIES_EXPIRES_IN=90

# Redis url: redis[s]://[[username][:password]@][host][:port][/db-number]
REDIS_CONNECT_URL=redis://sketter:1232123abCD@localhost:6379
REDIS_TIMEOUT_SECONDS=3600

# Firebase config
GOOGLE_APPLICATION_CREDENTIALS="../serviceAccountKey.json"
API_KEY=AIzaSyCNWPlCF1b0oZ_HtdJALXOULrUdsKS3FGs
AUTH_DOMAIN=emailpasswordauth-afc3d.firebaseapp.com
PROJECT_ID=emailpasswordauth-afc3d
STORAGE_BUCKET=emailpasswordauth-afc3d.appspot.com
MESSAGING_SENDER_ID=374477633930
APP_ID='1:374477633930:web:1dc2753a5a6c0899a37073'

USER_IMG_URL='images/avatar'
FORGOT_PASSWORD_URL='http://localhost:3000/auth/reset-new-password'

EMAIL_USERNAME=sketter.document@gmail.com
EMAIL_PASSWORD=jpqkilusqrtykcxp
EMAIL_SERVICE=Gmail